spring:
  config:
    activate:
      on-profile: prod

  # ---------------- Datasource (MySQL) ----------------
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # ------------ JPA / Hibernate Settings -------------
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update   # Production: validate schema (no auto create/update)
    show-sql: false        # Disable SQL logging in production
    properties:
      hibernate:
        format_sql: false  # Don't format SQL in logs (improves performance)

  # ----------- Multipart File Upload Limits -----------
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB     # "10MB" max file size
      max-request-size: 10MB # "10MB" max request size (multipart/form-data)

  # ----------- Security (JWT/OAuth2) -----------
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}

# -------------- Keycloak admin Configuration --------------
keycloak:
  admin:
    server-url: ${KEYCLOAK_ADMIN_SERVER_URL}
    realm: ${KEYCLOAK_ADMIN_REALM}
    client-id: ${KEYCLOAK_ADMIN_CLIENT_ID}
    client-secret: ${KEYCLOAK_ADMIN_CLIENT_SECRET}

# -------------- Keycloak realm Configuration --------------
jwt:
  auth:
    converter:
      resource-id: ${JWT_AUTH_CONVERTER_RESOURCE_ID}
      principal-attribute: ${JWT_AUTH_CONVERTER_PRINCIPAL_ATTRIBUTE}

# -------------- CORS Configuration --------------
app:
  cors:
    allowed-origins: ${APP_ALLOWED_ORIGINS}

# ----------- AWS Cloud (S3) Configuration ----------
aws:
  s3:
    bucket-name: ${AWS_BUCKET_NAME}
  region: ${AWS_REGION}
  access-key-id: ${AWS_ACCESS_KEY_ID}
  secret-access-key: ${AWS_SECRET_ACCESS_KEY}

# ------------- Server running port ------------
server:
  port: 5050  # Application will run on port :5050

